Repository MindFlavor/AzureSDKForRust, pull requests merged in 2020-02, with the labels that each got.

#237 Client trait in storage functions
  README.md
  azure_sdk_auth_aad/Cargo.toml
  azure_sdk_core/Cargo.toml
  azure_sdk_cosmos/Cargo.toml
  azure_sdk_service_bus/Cargo.toml
  azure_sdk_storage_account/Cargo.toml
  azure_sdk_storage_blob/Cargo.toml
  azure_sdk_storage_blob/tests/stream_blob00.rs
  azure_sdk_storage_core/Cargo.toml
  azure_sdk_storage_core/src/blob_sas_builder.rs
  azure_sdk_storage_core/src/client.rs
  azure_sdk_storage_core/src/client_endpoint.rs
  azure_sdk_storage_core/src/container_sas_builder.rs
  azure_sdk_storage_core/src/hyper_client_endpoint.rs
  azure_sdk_storage_core/src/lib.rs
  azure_sdk_storage_core/src/rest_client.rs
  azure_sdk_storage_core/src/shared_access_signature.rs
  azure_sdk_storage_table/Cargo.toml
Labels: Blob storage, bugfix, enhancement

#243 Enable Service Bus queue read
  azure_sdk_service_bus/src/event_hub/client.rs
  azure_sdk_service_bus/src/event_hub/mod.rs
Labels: Service Bus, enhancement

#244 Issue/242/dev
  azure_sdk_cosmos/Cargo.toml
  azure_sdk_cosmos/src/requests/execute_stored_procedure_builder.json
  azure_sdk_cosmos/src/requests/execute_stored_procedure_builder.rs
Labels: CosmosDB, bug
